:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #ffeef6;
  --accent-color: #353430;
  --menu-hover-color: rgb(50 49 45/0.4);
  --title-color: #ffc2e6;
  --text-color: #353430;
  --title-text-color: #353430;
  --shadow-header-color: #FF8DCB;
  --shadow-footer-color: #FF0070;
  --title-decor-color: #FF8DCB;
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #ffeef6;
    --accent-color: #353430;
    --menu-hover-color: rgb(50 49 45/0.4);
    --title-color: #ffc2e6;
    --text-color: #353430;
    --title-text-color: #353430;
    --shadow-header-color: #FF8DCB;
    --shadow-footer-color: #FF0070;
    --title-decor-color: #FF8DCB;
  }

  .header__rec {
    display: none;
  }
} 