.page {
  display: flex;
  background-image: var(--bg-image);
  background-color: var(--bg-color, #000028);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "IBM Plex mono", sans-serif;
  font-weight: 400;
  font-size: var(--font-size, 18px);
  flex-direction: column;
  min-inline-size: 375px;
  max-inline-size: 1440px;
}

.header {
  height: 100vh;
  display: grid;
  position: relative;
  min-block-size: 668px;
  padding-block-start: var(--padding, 10px);
  padding-block-end: var(--padding, 10px);
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  margin-bottom: 40px;
  padding-inline-start: var(--padding, 10px);
  padding-inline-end: var(--padding, 10px);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-top: 1px solid var(--accent-color, #ff0070);
  border-right: 1px solid var(--accent-color, #ff0070);
  right: 0px;
  top: 10px;
  border-inline-start: none;
  border-block-end: none;
}

.decorated-zone::after {
  border-bottom: 1px solid var(--accent-color, #ff0070);
  border-left: 1px solid var(--accent-color, #ff0070);
  bottom: 10px;
  left: 0px;
  border-inline-end: none;
  border-block-start: none;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  justify-content: space-between;
}

.header__theme-menu-item {
  min-inline-size: 70px;
  block-size: 26px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  background: transparent;
  color: var(--accent-color, #ff0070);
  text-transform: lowercase;
  inline-size: 100%;
  block-size: 100%;
  font-size: var(--font-size, 18px);
  outline: 1px solid transparent;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--menu-hover-color, rgb(255 0 112/0.4));
}

.header__theme-menu-button:focus {
  outline: none
}

.header__theme-menu-item .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
  outline: none;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--accent-color);
}

.header__rec {
  position: absolute;
  width: 52px;
  color: var(--accent-color, #ff0070);
  margin-block-start: 10px;
  display: flex;
  text-transform: uppercase;
  letter-spacing: 0;
  justify-content: space-between;
  align-items: center;
  right: 9px;
}

.header__rec::after {
  content: "";
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color, #ff0070);
  box-shadow: 0 0 4px 2px var(--shadow-header-color, #ff0070);
}

.header__title {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--shadow-header-color, #ff0070);
  color: var(--title-color, #db00ff);
  justify-self: start;
}

.header__description {
  font-weight: 700;
  line-height: 23.4px;
  align-self: center;
  justify-self: end;
  color: var(--title-text-color, #000028);
}

.title-decor {
  background-color: var(--title-decor-color, #ff0070);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-inline-start: var(--padding, 10px);
  padding-inline-end: var(--padding, 10px);
}

.section {
  display: grid;
  flex-direction: column;
  gap: 20px;
}

.section__title {
  font-weight: 700;
  line-height: 23.4px;
  color: var(--accent-color, #ff0070);
  font-size: var(--font-size, 18px);
  grid-row: span 2;
}

.section__subtitle {
  max-height: max-content;
}

.section__article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__article-title {
  font-size: var(--font-size, 18px);
  font-weight: 700;
  line-height: 23.4px;
  color: var(--title-text-color, #000028);
}

.section__how .section__title-card {
  font-weight: 700;
}

.section__article-text {
  font-size: var(--font-size, 18px);
  font-weight: 400;
  line-height: 23.4px;
  color: var(--text-color, #F1B2CE);
}

.section__article-text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--title-decor-color, #ff0070);
}

.section__article-text-link:focus {
  outline: 1px solid var(--text-color, #F1B2CE);
}

.section__article-text-link:hover {
  border-block-end: 1px solid var(--text-color, #F1B2CE);
}

.section__article-title-subtopic {
  font-weight: 400;
}

.section__gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.section__gallery-container-images {
  display: grid;
  gap: 10px;
}

.section__gallery-image {
  inline-size: 100%;
  block-size: auto;
  object-fit: cover;
}

.footer {
  display: flex;
  min-block-size: 668px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 40px;
  padding-inline-start: var(--padding, 10px);
  padding-inline-end: var(--padding, 10px);
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 83%;
  color: var(--title-color, #db00ff);
  text-shadow: 2px 2px 0 var(--shadow-footer-color, #ff0070);
}

@media (width >= 768px) {
  .header {
    grid-template-columns: 1fr 1fr;
    min-block-size: 1024px;
    margin-bottom: 60px;
    padding-inline-start: var(--padding, 20px);
    padding-inline-end: var(--padding, 20px);
  }

  .decorated-zone::before {
    right: 0px;
    top: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 0px;
  }

  .header__theme-menu {
    grid-column: span 2;
  }

  .header__title {
    grid-column: span 2;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }

  .header__description {
    grid-column: 2;
  }

  .header__rec {
    margin-block-start: 20px;
  }

  .main {
    padding-inline-start: var(--padding, 20px);
    padding-inline-end: var(--padding, 20px);
    gap: 80px;
  }

  .section__why,  
  .section__how {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .section__why .section__title,
  .section__how .section__title {
    grid-column: 1;
  }

  .section__why .section__article,
  .section__how .section__article {
    grid-column: 2;
  }

  .section__what {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .section__what .section__article {
    grid-column: span 3;
  }

  .section__gallery {
    gap: 20px;
  }

  .section__gallery-image {
    block-size: 100%;
  }

  .section__gallery-container-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .section__gallery-image-sunset {
    grid-column: span 2;
    grid-row: 1;
  }

  .section__gallery-image-ice {
    grid-column: 3;
    grid-row: 1/3;
  }

  .section__gallery-image-tape {
    grid-column: 1;
    grid-row: 2/4;
  }

  .section__gallery-image-books {
    grid-column: 2;
    grid-row: 2;
  }

  .section__gallery-image-street {
    grid-column: span 2;
    grid-row: 3;
  }

  .footer {
    min-block-size: 1024px;
    margin-top: 60px;
    padding-inline-start: var(--padding, 20px);
    padding-inline-end: var(--padding, 20px);
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header {
    min-block-size: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section__why {
    grid-template-columns: repeat(3, 1fr);
  }

  .section__why .section__title {
    grid-column: 1;
  }

  .section__why .section__article {
    grid-column: 2/4;
  }

  .section__what .section__article:nth-child(2) {
    grid-column: 1;
  }

  .section__what .section__article:nth-child(3) {
    grid-column: 2;
  } 

  .section__what .section__article:nth-child(4) {
    grid-column: 3;
  }

  .section__what .section__article {
    grid-column: span 1;
  }

  .section__how {
    grid-template-columns: repeat(3, 1fr);
  }

  .section__how .section__title {
    grid-column: 1;
  }

  .section__how .section__article {
    grid-column: 2/4;
  }

  .section__title-card {
    grid-column: 2/4;
  }

  .footer {
    min-block-size: 768px;
  }
}